.about-us__read-more-button {
  border: none;
  background: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  display: flex;
  gap: 16px;
  margin-top: 14px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 3px;
}
.about-us__read-more-button:hover {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .about-us__read-more-button {
    margin-top: 0;
  }
}
@media screen and (min-width: 1120px) {
  .about-us__read-more-button {
    margin-left: 1;
    margin-top: -6px;
  }
}
