@import url(./normalize.css);
@import url(../services//fonts//stylesheet.css);
.body {
  background-color: #f8f8f8;
  font-family: "TT Lakes";
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  min-height: 88px;
  background-color: #ffffff;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9fff5;
}
.header__menu-button {
  background: none;
  border: 0;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}
.header__menu-button:hover {
  opacity: 0.8;
}
.logo {
  width: 96.55px;
  height: 50.81px;
  transition: 0.2s;
}
.logo:hover {
  opacity: 0.8;
}
.header__nav {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header__nav:first-of-type {
  display: none;
}
.header__nav::before {
  content: "";
  margin-right: 4px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.header__nav-button {
  background: none;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.header__nav-button:hover {
  opacity: 0.8;
}
.main {
  padding-top: 4px;
}
.title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  height: 40px;
}
.title::before {
  margin-right: 12px;
  max-height: 10px;
  content: "";
  width: 1px;
  margin-left: -4px;
  border: 4px solid #41f6d7;
  border-radius: 10px;
}
.main-navigation {
  display: flex;
  overflow: auto;
  gap: 10px;
  padding-left: 16px;
  padding-top: 6px;
}
.main-navigation::-webkit-scrollbar {
  width: 0;
}
.main-navigation__button {
  white-space: nowrap;
  background: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  border: none;
  color: #7e7e82;
  padding: 6px 18px 6px 15px;
}
.main-navigation__button_active {
  border: 2px solid #b8ffec;
  border-radius: 5px;
}
.about-us {
  color: #1b1c21;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-us__text-container {
  padding: 0 16px;
}
.about-us__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.about-us__read-more-button {
  border: none;
  background: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  display: flex;
  gap: 16px;
  margin-top: 15px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 8px;
}
.about-us__read-more-button:hover {
  opacity: 0.8;
}
.about-us__image {
  width: 320px;
  height: 176px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: auto;
  }
  .header {
    padding: 0 24px;
  }
  .header__menu-button::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    position: absolute;
    margin-left: 20px;
    margin-top: 15%;
  }
  .logo {
    margin-left: 42px;
  }
  .header__nav:first-of-type {
    display: flex;
    padding-right: 20px;
  }
  .header__nav:first-of-type::before {
    display: none;
  }
  .main-navigation {
    padding-left: 24px;
    padding-top: 8px;
  }
  .about-us__text-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .about-us__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin: 0;
  }
  .about-us__text:last-of-type::after {
    content: "Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера";
  }
  .about-us {
    display: grid;
    grid-template-columns: 314px 1fr;
    gap: 48px;
    padding: 32px 24px;
  }
  .about-us__image {
    width: 100%;
    height: 100%;
  }
  .about-us__read-more-button {
    margin-top: 0;
  }
}
