.title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  height: 40px;
  margin-bottom: 22px;
}
.title::before {
  margin-right: 12px;
  content: "";
  width: 1px;
  margin-left: -4px;
  border: 4px solid #41f6d7;
  border-radius: 10px;
}
@media screen and (min-width: 1120px) {
  .title {
    margin-bottom: 0;
  }
  .title::before {
    margin-right: 28px;
  }
}
