.header__nav {
  display: flex;
  gap: 0px;
  align-items: center;
}
.header__nav:first-of-type {
  display: none;
}
.header__nav::before {
  content: "";
  margin-right: 14px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
@media screen and (min-width: 768px) {
  .header__nav:first-of-type {
    display: flex;
    padding-right: 20px;
  }
  .header__nav:first-of-type::before {
    display: none;
  }
}
