.header {
  min-height: 88px;
  background-color: #ffffff;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9fff5;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    display: none;
  }
}
