.logo {
  width: 96.55px;
  height: 50.81px;
  transition: 0.2s;
  margin-left: -6px;
}
.logo:hover {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: auto;
    margin-left: 42px;
  }
}
